
<br/><br/><br/>
<h1 class="text-center">Manage Existing Tenant</h1>

<div class="row">
    <ul>
    	<li>Tenant {{name}}</li>
    	<li>Primary {{primary_user}}</li>
    	<li>Secondary {{secondary_user}}</li>
    </ul> 
</div>


