
<br/><br/><br/>
<h1 class="text-center">New Tenant Form</h1>

<form action="/newtenant" method="post">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 form-group">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 form-group">
			<label for="tenant">new tenant name</label>
                        <input type="text" name="tenant" id="tenant" class="form-control" placeholder="new tenant name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
			<label for="primary">Primary user  {{primary_user}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
			<label for="secondary">Secondary user</label>
                        <input type="text" name="secondary" id="secondary" class="form-control" placeholder="secondary for tenant">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
			<label for="ide">IDE used</label>
                        <input type="text" name="ide" id="ide" class="form-control" placeholder="IDE used">
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 form-group">
			<label for="tools">other tools used</label>
                        <input type="text" name="tools" id="tools" class="form-control" placeholder="tools and libraries used">
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 form-group">
			<label for="db">DB to be used</label>
                        <input type="text" name="db" id="db" class="form-control" placeholder="DB to be used">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
			<label for="description">Description</label>
                        <input type="text" name="description" id="description" class="form-control" placeholder="Description">
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" name="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


